{
    admin off
    log {
        level debug
        output stdout
        format console
    }
}

:8080 {
    route {
        caddy_mib {
            error_codes 404
            max_error_count 100
            ban_duration 1m
            ban_duration_multiplier 2
            whitelist 192.168.1.10 10.0.0.0/24 2001:db8::1
            log_level debug
            log_request_headers User-Agent X-Forwarded-For
            custom_response_header "Blocked by Caddy MIB"
            ban_response_body "You have been banned due to excessive errors. Please try again later."
        }
        file_server {
            root /Users/fab/caddy-mib
        }
    }
}
